<div style="padding: 0 10px;">
    <h3>Income and Expenses</h3>
    <div class="row">
        <div class="col-md-6">
            <app-add-entry></app-add-entry>
        </div>
        <div class="col-md-6">
            <app-expense-balance></app-expense-balance>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-income-balance></app-income-balance>
        </div>
        <div class="col-md-6">
            <app-income-expense-chart></app-income-expense-chart>
        </div>
    </div>
</div>